{{ if (and (eq .chezmoi.os "darwin" "linux") (not .headless)) -}}
#!/usr/bin/env bash

set -eufo pipefail

extensions=(
    arahata.linter-actionlint
    bierner.markdown-mermaid
    bierner.markdown-preview-github-styles
    bpruitt-goddard.mermaid-markdown-syntax-highlighting
    dbaeumer.vscode-eslint
    fnando.linter
    github.vscode-github-actions
    streetsidesoftware.code-spell-checker
    yzhang.markdown-all-in-one
    zxh404.vscode-proto3
)

for extension in ${extensions[@]}; do
    code --force --install-extension $extension
done
{{ end }}