{{- if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env bash

set -eufo pipefail

{{ $taps := list -}}
{{ $brews := list
    "aria2"
    "ast-grep"
    "bat"
    "cloc"
    "curl"
    "difftastic"
    "fd"
    "dockutil"
    "eza"
    "fish"
    "fisher"
    "gh"
    "git"
    "git-lfs"
    "graphviz"
    "htop"
    "httpie"
    "hyperfine"
    "ijq"
    "jq"
    "mas"
    "ripgrep"
    "tokei"
    "mise"
    "ncdu"
    "shellcheck"
    "speedtest-cli"
    "starship"
    "tree"
    "unxip"
    "xcbeautify"
    "xclogparser"
    "xcodes"
    "xq"
    "zoxide" -}}
{{ $casks := list
    "1password"
    "1password-cli"
    "appcleaner"
    "github-copilot-for-xcode"
    "cursor"
    "devcleaner"
    "elgato-stream-deck"
    "font-meslo-for-powerline"
    "gpg-suite-no-mail"
    "handbrake"
    "iterm2"
    "jordanbaird-ice"
    "notion"
    "obsidian"
    "rectangle"
    "sf-symbols"
    "slack"
    "soundsource"
    "spotify"
    "suspicious-package"
    "tower"
    "transmit"
    "visual-studio-code" -}}
{{ $apps := dict
    "1Password for Safari" "1569813296"
    "Developer" "640199958"
    "Disk Speed Test" "425264550"
    "Save to Raindrop.io" "1549370672" -}}

{{ if .personal -}}
{{ $brews = concat $brews (list
    "yt-dlp") -}}
{{ $casks = concat $casks (list
    "arq"
    "brave-browser"
    "daisydisk"
    "deckset"
    "pdf-expert"
    "proton-drive"
    "raycast"
    "setapp"
    "soulver") -}}
{{ $apps = merge $apps (dict
    "Numbers" "409203825"
    "Pages" "409201541") -}}
{{ end -}}

{{ if .work -}}
{{ $taps = concat $taps (list
    "hashicorp/tap"
    "hmarr/tap") -}}
{{ $brews = concat $brews (list
    "actionlint"
    "ansible"
    "aws-iam-authenticator"
    "awscli"
    "colima"
    "crowdin"
    "docker"
    "docker-compose"
    "docker-machine"
    "protolint"
    "hashicorp/tap/packer"
    "hmarr/tap/codeowners") -}}
{{ $casks = concat $casks (list
    "figma"
    "microsoft-teams"
    "onedrive"
    "orka3"
    "zoom") -}}
{{ end -}}

brew bundle --file=/dev/stdin <<EOF
{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end -}}
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
{{ range (keys $apps | sortAlpha | uniq) -}}
mas "{{ . }}", id: {{ get $apps . }}
{{ end -}}
EOF
{{ end -}}
