# Activate mise when running in Cursor
if [[ -n "$CURSOR_AGENT" ]]; then
  eval "$(/opt/homebrew/bin/mise activate bash --shims)"
else
  eval "$(/opt/homebrew/bin/mise activate bash)"
fi

{{ if eq .chezmoi.os "darwin" -}}
{{   if lookPath "/opt/homebrew/bin/brew" -}}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{   else if lookPath "/usr/local/bin/brew" -}}
eval "$(/usr/local/bin/brew shellenv)"
{{   end -}}
{{ end -}}

complete -C /opt/homebrew/bin/mc mc
