{{- if .work -}}
{{-   onepasswordDocument "fsrww3lymzgppkiw5jlmc36gx4" .work_vault -}}
{{- else if .personal -}}
{{-   onepasswordDocument "7tpbtngvkrg7lk54l3ijbcunlu" .personal_vault -}}
{{- end -}}