{{ if .work -}}
Host github.com
	Hostname ssh.github.com
	Port 443
	User git
{{ end }}
Host *
{{- if eq .chezmoi.os "darwin" }}
	AddKeysToAgent yes
	UseKeychain yes
	IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- end }}
	ControlMaster auto
{{- if eq .chezmoi.os "darwin" }}
	ControlPath /tmp/ssh-%r@%h:%p.socket
{{- end }}
