# Homebrew
{{ if eq .chezmoi.os "darwin" -}}
if status --is-interactive
{{   if lookPath "/opt/homebrew/bin/brew" -}}
  eval "$(/opt/homebrew/bin/brew shellenv fish)"
{{   else if lookPath "/usr/local/bin/brew" -}}
  eval "$(/usr/local/bin/brew shellenv fish)"
{{   end -}}
end
{{ end }}
# Disable fish greeting
set fish_greeting ""

# pnpm
set -gx PNPM_HOME "$HOME/Library/pnpm"
if not string match -q -- $PNPM_HOME $PATH
  set -gx PATH "$PNPM_HOME" $PATH
end
# pnpm end

starship init fish | source

# peon-ping quick controls
function peon; bash {{ .chezmoi.homeDir }}/.claude/hooks/peon-ping/peon.sh $argv; end
