{{ if .work -}}
# GitHub
set -gx GITHUB_ACCESS_TOKEN {{ (onepasswordItemFields "g2aebt3pfbdsnmfxtydd6ll7ce" .work_vault).Commandline.v | quote }}

# Figma
set -gx FIGMA_PERSONAL_TOKEN {{ (onepasswordItemFields "ryeeo47tkvgsfc6jg6dx7zowda" .work_vault).figma_exporter.v | quote }}

# Approov
set -gx APPROOV_MANAGEMENT_TOKEN {{ (onepasswordItemFields "bsirowaa2vakhdujzvdugb7ywm" .work_vault).florian_development_token.v | quote }}

# Fastlane
set -gx APPSTORE_CONNECT_API_KEY {{ (onepasswordItemFields "c6ptuk37l5alhayht3k3icikly" .work_vault).Key.v | quote }}

# AppCenter
set -gx APPCENTER_API_TOKEN {{ (onepasswordItemFields "xo6znzwy6rdknkbcra7pi6qeaq" .work_vault).token.v | quote }}
{{ else if .personal -}}
# GitHub
set -gx GITHUB_ACCESS_TOKEN {{ (onepasswordItemFields "554xae6ewnhpjn4d3qji57bbpq" .personal_vault).Commandline.v | quote }}

# Figma
set -gx FIGMA_PERSONAL_TOKEN {{ (onepasswordItemFields "u5gdrdy6hfhvzkuif3qdnavmca" .personal_vault).figma_exporter.v | quote }}
{{ end }}